body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forward {
    position: fixed;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%) rotate(180deg);
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid rgba(0, 0, 0, 0.9);
    cursor: pointer;
    display: block;
    user-select: none;
}

.left {
    position: fixed;
    bottom: 50%;
    left: calc(50% - 70px - 20px);
    margin-right: -20px;
    transform: translate(-50%, 50%) rotate(0deg);
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 20px solid rgba(0, 0, 0, 0.9);
    cursor: pointer;
    display: block;
    user-select: none;
}

.right {
    position: fixed;
    bottom: 50%;
    right: calc(50% - 70px - 20px);
    margin-right: -20px;
    transform: translate(-50%, 50%) rotate(180deg);
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 20px solid rgba(0, 0, 0, 0.9);
    cursor: pointer;
    display: block;
    user-select: none;
}

.back {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid rgba(0, 0, 0, 0.9);
    cursor: pointer;
    display: none;
    user-select: none;
}